<ion-view title="Feed">
  <ion-content has-header="true" has-footer="true">
    <div class="list card">

      <div class="item item-avatar">
        <img src="https://pbs.twimg.com/profile_images/3216914444/de38b5d3d45c71d3ae1323be1df512b0.jpeg">
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
      </div>

      <div class="item item-body">
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>