<ion-view title="Home">
  
  <ion-content has-header="true" has-footer="true">

    <div class="list">

        <a class="item item-avatar" href="#/tab/feed">
          <img src="http://lorempixel.com/64/64/people">
          <h2>Venkman</h2>
          <p>Back off, man. I'm a scientist.</p>
        </a>

        <a class="item item-avatar" href="#">
          <img src="http://lorempixel.com/64/64/people">
          <h2>Venkman</h2>
          <p>Back off, man. I'm a scientist.</p>
        </a>

        <a class="item item-avatar" href="#">
          <img src="http://lorempixel.com/64/64/people">
          <h2>Venkman</h2>
          <p>Back off, man. I'm a scientist.</p>
        </a>

        <a class="item item-avatar" href="#">
          <img src="http://lorempixel.com/64/64/people">
          <h2>Venkman</h2>
          <p>Back off, man. I'm a scientist.</p>
        </a>

        <a class="item item-avatar" href="#">
          <img src="http://lorempixel.com/64/64/people">
          <h2>Venkman</h2>
          <p>Back off, man. I'm a scientist.</p>
        </a>

        <a class="item item-avatar" href="#">
          <img src="http://lorempixel.com/64/64/people">
          <h2>Venkman</h2>
          <p>Back off, man. I'm a scientist.</p>
        </a>

        <a class="item item-avatar" href="#">
          <img src="http://lorempixel.com/64/64/people">
          <h2>Venkman</h2>
          <p>Back off, man. I'm a scientist.</p>
        </a>

    </div>

  </ion-content>
</ion-view>