<ion-view title="Settings">
  <ion-content has-header="true" padding="true">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Nickname</span>
        <input type="text" ng-model="signal.metadata.name" placeholder="Your nickname">
      </label>
      <label class="item item-input">
        <span class="input-label">Debug:</span>
        <button class="button button-block button-positive" ng-click="Store.db.destroy()">Clear DB</button>
      </label>
    </div>
  </ion-content>
</ion-view>